
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul li{list-style: none;}
a{
	text-decoration: none;
	color: #000;
}
.clearfix{display: block;clear: both; padding: 5px;}

/*header menu*/
.nav{
	position: static;
	z-index: 5;
	text-align: center;
}
.nav .dropdown{
	margin: auto;
	text-align: center;
	width: 100px;
	display: grid;
}
.nav .dropdown a{
	display: inline;
}
.nav .toggle{
	display: none;
	clear: both;
	background-color: #C2DAE4;
}
.nav .toggle li{
	clear: both;
}
.nav .dropdown:hover .toggle{
	display: block;
}
 /*Banner*/
.banner{
	width: 98%;
	height: 480px;
	margin: 16px auto;
}

/*info films*/
.img-thumbnail {
    width: 315px;
    height: 420px;
    float: left;
    margin-right: 20px;
}
.info{
	padding:6px;
	position: relative;
}
.info>h1{margin-bottom: 20px}
.info>p{line-height: 26px}
.info span{color: #5c00ef}
.info .click-view, .info .click-follow{
	display: inline-block;
	width: 92px;
	height: 35px;
	position: absolute;
	top: 380px;
	border: 1px #328 solid;
	border-radius: 10px;
	text-align: center;
	line-height: 34px;
}
.info .click-view{left: 540px}
.info .click-follow{left: 400px}