
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul li{list-style: none;}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color: #444
}
#list-parts::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#list-parts::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#list-parts::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.clearfix{display: block;clear: both; padding: 5px;}

/*header menu*/
.nav{
	position: static;
	z-index: 5;
	text-align: center;
}
.nav .dropdown{
	margin: auto;
	text-align: center;
	width: 100px;
	display: grid;
}
.nav .dropdown a{
	display: inline;
}
.nav .toggle{
	display: none;
	clear: both;
	background-color: #ffffffab;
}
.nav .toggle li{
	clear: both;
}
.nav .toggle li:hover{
	background-color: #d5d5;
}
.nav .dropdown:hover .toggle{
	display: block;
}
 /*Banner*/
.banner{
	width: 98%;
	height: auto;
	max-height: 480px;
	overflow: hidden;
	margin: 16px auto;
}

/*info films*/

.img-thumbnail {
    width: 315px;
    height: 420px;
    float: left;
    margin-right: 20px;
}
.info{
	position: relative;
	width: 46%;
	height: 410px;
	float: left;
}
.info>h1{margin-bottom: 20px; max-height: 34px;overflow: hidden;}
.info>p{line-height: 32px}
.info a{color: #329}
.info a:hover{color: blue}
.info span{color: #5c00ef}
.info .click-view, .info .click-follow{
	display: inline-block;
	position: absolute;
	width: 92px;
	height: 35px;
	top: 360px;
	border: 1px #666 solid;
	border-radius: 10px;
	text-align: center;
	line-height: 34px;
}
.info .click-view:hover, .info .click-follow:hover{
	transition: 1.2s;
	border-radius: 10px;
	background-color: #ccccff;
}
.info .click-view{left: 160px}
.info .click-follow{left: 0}

/*Danh sách tập*/
.film-related.video{
	margin-top: -16px;
}
#list-parts{
	width: auto;
	margin-top: 10px;
	height: 430px;
	overflow: hidden;
	overflow: scroll;
	overflow-x: hidden;
}

/*controller*/
.controller{
	clear: both;
    display: block;
    padding: 6px;
}
.controller>div{display: inline-block; margin-left: 10px}
.controller>div .controller-icon{
	font-size: 14px;
	cursor: pointer;
}
.controller>div .controller-name{font-size: 12px; cursor: default;}

/*ADS*/
div.ads{
	width: auto;
	clear: both;
    background-color: #9999991c;
}
#ads-1{
	height: 320px;
}
#ads-2{
    height: 120px;
}