*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#wrap{
	font-family: Tahoma;
	width: 100%;
	min-width: 1044px;
}
a{text-decoration: none;}
a:hover{text-decoration: none; color: #666}
.sidebar a{color: #fff}
.active{border-left: 4px solid #3287B2; background-color: #333}
.head{
	width: 100%;
	height: 80px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #ccc;
	float: left;
	position: relative;
	position: fixed;
	z-index: 2;
}
ul li,h1:hover{
	cursor: pointer;
}
.head>img{height: 40px; margin: 20px;float: left;}
.head .logo{display: inline;font-family: UTM Cookies; color: #6e6eec; line-height: 60px;}
.head ul{
	height: 100%;
	float: right;
	margin-right: 54px;
}
.head ul li{
	list-style: none;
	line-height: 80px;
	padding: 10px 20px;
	float: left;
}
.head ul i{
	font-size: 30px;
	color: #999;
}
.head ul li #notification{
	font-size: 12px;
	font-weight: bold;
	color: red;
}
.head ul .avatar{
	width: 50px;
	height: 50px;
	border-radius: 24px;
	float: left;
}
.head a{position: absolute; font-size:22px; color: #328;right: 2px;bottom: 2px;}

/*loader*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*container*/
.container{
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	padding: 20px;
}
.container .sidebar{
	position: fixed;
	z-index: 5;
	top: 80px;
	left: 0;
	width: 15%;
	max-width: 220px;
	height: 980px;
	background-color: #2B333E;
}
.sidebar ul{margin-top: 4px}
.sidebar ul li{
	list-style: none;
	padding: 16px;
	color: #fff;
}
.sidebar ul li i{
	font-size: 14px;
	color: #ccc;
	display: block;
	width: 14px;
	float: left;
	text-align: center;
	margin-right: 10px;
}
.content{
	float: right;
	margin-top: 70px;
	border-radius: 4px;
	width: 85%;
	max-width: 1160px;
	background-color: #fff;
}

/*dashboard*/
.dashboard{
	float: left;
	margin: 30px;
}
.dashboard h1{
	font-family: Arial;
	font-size: 28px;
	color: #555;
}
.dashboard article{
	margin: 20px 10px;
	float: left;
	width: 220px;
	height: 70px;
	border: 1px solid #328;
	border-radius: 10px;
	text-align: center;
}
.dashboard article i{
	font-size: 24px;
	line-height: 50px;
	float: left;
	color: #fff;
	background-color: #328;
	width: 50px;
	height: 50px;
	border-radius: 24px;
	margin-right: 60px
}
.dashboard article p , article span{
	font-weight: 600;
	font-size: 22px;
}
.dashboard article span{font-size: 14px}

/*addfilms*/
.addfilms{
	padding: 10px;
}
.addfilms>form{
	margin-top: 30px;
}
.addfilms .left{
	width: 460px;
	height: 420px;
	margin-top: 40px;
	float: left;
	text-align: right;
}
.addfilms .right{
	float: left;
	width: 50%;
	min-width: 510px;
	margin-left: 40px;
}
.addfilms p{
	display: inline-block;
	width: 100px;
	text-align: right;
	font-weight: 700;
	margin: 16px 0;
}
.addfilms input, .addfilms select{
	width: 280px;
	height: 32px;
	padding-left: 10px;
	border-radius: 12px;
	border: 1px #239 solid;
	margin-left: 80px;
}
.addfilms input:focus, .addfilms select:focus{
	outline: none;
	border: 1px green solid;
	box-shadow: 2px 2px 5px #888;
}
.addfilms .col-2 p{
	width: 80px;
}
.addfilms .col-2 input, .addfilms select{
	width: 120px;
	margin-left: 18px;
}
.addfilms textarea{
	width: 100%;
	height: 400px;
}

.browser-upload{
	float: left;
	margin-top: 40px;
	margin-left: 94px;
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 12px;
	position: relative;
}
.browser-upload:last-child{
	margin-left: 100px;
}
.browser-upload .file{
	position: absolute;
	z-index: 2;
	border: none;
	left: 0;
	top: 20px;
	padding: 0;
	opacity: 0;
}
.browser-upload .browser{
	position: absolute;
	left: 0;
	top: 20px;
	background-color: #999;
    color: #fff;
	margin-left: 18px;
	width: 120px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 12px;
}
.title-browser-upload{
	display: block;
	margin-left: 18px;
	width: 120px;
	text-align: center;
}
.addfilms .button{
	display: block;
	float: left;
	position: sticky;
	left: 35%;
	clear: both;
	
}
.addfilms .button button{
	width: 120px;
	height: 35px;
	background-color: #329;
	border: none;
	border-radius: 12px;
	color: #fff;
	margin-top: 20px;
}

/*Quản lý phim*/
.content table{border: 1px solid #666}
.content table tr:nth-child(even){background-color: #efecec}
.content table th{border-bottom: 1px solid #328}
.content table td{padding: 10px;}
